*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background : linear-gradient(
    #e92e3d,
    #ff6e6a
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}

.container{
  width: 400px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color: #ffff;
  box-shadow: 0 15px 35px rgba(50,50,50,0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
}

.dice-wrapper{
   width: 90%;
   display: flex;
   justify-content: space-around;
}
h1{
  padding-bottom: 5%;
}

h3{

  padding-bottom: 1px;
}


P{
  font-size: 16PX;
  margin: 30PX 0;
  font-weight: 500;
}

button{
  background-color: #e92e3d;
  border: none;
  outline: none;
  color: #ffff;
  padding: 15px 0 ;
  width: 150px;
  letter-spacing: 1px;
  border-radius: 5px;
  }
  footer {
    margin-top: 5%;
    
    text-align: center;
    font-family: 'Indie Flower', cursive;

  }
